@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700;900&display=swap');

/* Common Style */
*
{
    margin : 0;
    padding : 0;
    box-sizing: border-box;    
}
html
{
    font-size: 62.5%;
}

body
{
    font-family: 'Noto Sans KR', sans-serif;
    background-image: url(./images/purty_wood_@2X.png);

    display: flex;

    justify-content: center;
    align-items: center;
}
/* End of Common Style */

.wrapper
{
    margin : 20px;
    width : 1300px;
    height: 1000px;

    outline: 1px solid #fff;

    background-color: white;

    box-shadow: 2px 2px 4px #222;
}


/* Header Style */
#header
{
    width : 100%;
    height: 150px;

    /* outline: 1px solid green; */

    position : relative;
}

.header-left
{
    position :absolute;

    left : 20px;
    top : 30px;
    width: 200px;
    height: inherit;


}

.header-left > img
{
    width: 50%;
    height: 50px;
}

.header-center
{
    position : absolute;

    left : 50%;
    top : 15px;
    transform: translateX(-50%);

    text-align: center;
}
.header-center .subtitle
{
    font-size: 1.4rem;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 0.5;
}
.header-center .maintitle
{
    font-size: 6rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1;
}

.header-center p
{
    font-size: .8rem;
    color : rgba(0,0,0,.5);
    text-transform: uppercase;
    letter-spacing: 0.6px;
}
.header-right
{
    position : absolute;
    right : 20px;
    top : 50px;
    text-align: right;
    text-transform: uppercase;
}
.header-right h2
{
    line-height: 1;
}

#nav
{
    position : absolute;
    width: 100%;
    
    bottom: 0;
}

#nav > ul
{
    margin : 0 auto;
    width: 95%;
    /* outline: 1px solid brown; */
    display: flex;

    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    flex-grow: 1;

    border-top: 2px solid #222;
    border-bottom: 2px solid #222;
}
#nav > ul > li
{
    position : relative;
    padding : 5px;
    list-style-type: none;
}

#nav > ul > li::before
{
    content: '|';
    width: 100%;
    
    position : absolute;
    left : -50px;
    top : 25%;
}

#nav > ul > li:last-child::after
{
    content: '|';
    width: 100%;
    
    position : absolute;
    right: -185px;
    top : 25%;
}
#nav > ul > li > a
{
    text-transform: uppercase;
    color : #222;
    text-decoration: none;
    font-size: 1.6rem;
}
#nav > ul > li > a span.low
{
    text-transform: lowercase;
    font-size: 2rem;
    font-weight: bold;
}
/* End of Header Style */


/* Section Style */
#section-1
{
    width : 100%;
    height: calc(100% - 150px);

    /* outline: 1px solid purple; */

    column-count: 3;

}
.article1, .article2, .article3
{
    height: inherit;

    padding : 30px;
}

.title-name
{
    width: 70%;
    break-before: column;

    font-size: 4rem;

    text-transform: uppercase;
    line-height: 1;
    text-align: center;

    margin-top: 20px;
    margin-bottom: 20px;
    position : relative;
    left : 50%;
    transform: translateX(-50%);
}
.sub-text
{
    width: 80%;
    font-size: .9rem;

    line-height: 1.5;
    text-align: justify;
    color : rgba(0,0,0,.5);
    position : relative;
    left : 50%;
    transform: translateX(-50%);
}

img[alt="main"]
{
    width: 100%;

    object-fit: cover;
}
/* End of Section Style */